<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers. Priority will be given to students
  and researchers from Universities and research institutions in
  <a href="https://www.dkz2r.de/about/">the region served by the
  DKZ.2R
</a>, as well as members of the
<a href="https://nfdi4microbiota.de/">NFDI4Microbiota consortium</a> however all are welcome to
register.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
